.title {
  margin-bottom: 0.5em;
}

.desc {
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid rgb(var(--card-border-rgb));
}

.ingredients {
  margin: 1em 0;
}

.directions {
  margin: 1em 0;
}
