.card {
  border: 1px solid white;
  border-radius: 3px;
  background: transparent;
  padding: 9px;

  display: flex;
  align-items: flex-start;

  text-decoration: none;
  &:hover {
    box-shadow: 10px 5px 5px rgba(var(--callout-rgb));

    .title {
      text-decoration: underline;
    }
  }
}

.listitem {
  list-style-type: none;
  width: 100%;
}

.content {
  flex-direction: column;
  justify-content: flex-start;
}

.cardtext p {
  text-decoration: none;
}

.thumb {
  margin-right: 9px;
}
